Requirements:
1)give a ping to people (@everyone) when given a command
	ping will look like (for example):
@[F.C.]  on Op: @Dragon 
Fleet Name: FC What Pew?
Form Up: Choonka - Spark Of Solitude
Ships: Assault Frigs | Bulwark Shield & Armour | Tackle
Comm's: Fleet Op's 1
Time: 1900 EVE Time
Fleet Type: PvP

only certain people in certain rolls can make a ping and only display a ping in a certain channel

so far that is all in fuctionality that has been requested.